 <header class="flex justify-center font-bold">

    <nav class="relative flex items-center gap-8 m-1 mr-4">
        <a href="/">Porfolio</a>
        <a href="/resume">Curriculum Vitae</a>
        <a href="/Contacto">Contacto</a>
    </nav>
 </header>