--- 

---
<footer class="bg-slate-500 rounded-lg shadow m-4 text-slate-900">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-950 sm:text-center dark:text-gray-400">© 2024 <a href="/resume" class="hover:underline">Luis Miguel Santana Castaño</a>. Todos los derechos reservados.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-950 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="/" class="hover:underline me-4 md:me-6">Porfolio</a>
        </li>
        <li>
            <a href="/Contacto" class="hover:underline">Contacto</a>
        </li>
    </ul>
    </div>
</footer>