---
import Plantilla from "../plantilla/Base.astro";
import Badge from "../components/Badge.astro";
import Correo from "../components/Correo.astro";
import Github from "../components/Github.astro";
import Linkedin from "../components/Linkedin.astro";
import Contenedor from "../components/Contenedor.astro";
import Code from "../components/iconos/Code.astro"
import Proyectos from "../components/Proyectos.astro";
import { Image } from "astro:assets";
import Avatar from "../assets/avatar.jpg"
---

<Plantilla title="Desarrollador y programador web.">
  <main>
    <Contenedor class="py-44">
      <div class="flex"><Image
        src={Avatar}
        alt="imagen del logo"
        class="size-10 md:size-14 rounded-full m-1 shadow"
      />
      <h1 class="text-lg md:text-2xl lg:text-4xl font-bold flex justify-center flex-row">
        Hola, soy Luis Miguel Santana <div
          class="flex justify-center items-center ml-2"
        >
          <Badge>Disponible para trabajar</Badge>
        </div>
      </h1></div>
      <h2 class="text-justify line-clamp-5 hover:line-clamp-none">
        Imagina tener una aplicación web a medida que te haga la vida más fácil y te ayude a destacar entre la multitud. ¡Eso es lo que hacemos!
        En santaDev, nos especializamos en diseñar y gestionar aplicaciones web que se adaptan perfectamente a las necesidades de cada pequeño negocio. Ya sea que necesites una plataforma de comercio electrónico súper intuitiva para vender tus productos únicos, o una aplicación para reservar citas, ¡nosotros lo tenemos cubierto!
        Pero no sólo nos quedamos en el diseño. Nos aseguramos de que tu aplicación web sea una experiencia excepcional tanto para ti como para tus clientes. Nos enfocamos en la usabilidad, la velocidad y la seguridad, porque sabemos que eso es lo que realmente importa.
        En santaDev, creemos que todos los negocios, grandes o pequeños, merecen una presencia digital increíble. Así que déjanos encargarnos de la parte técnica mientras tú te enfocas en lo que amas hacer. ¡Juntos llevaremos tu negocio a nuevas alturas en el mundo digital!
      </h2>
      <ul class="inline-flex gap-3 mt-2">
        <li>
          <Correo><a href="mailto:trabajo@lmsc.es?Subject=Presupuesto%20de%20página%20web">trabajo@lmsc.es</a></Correo>
        </li>
        <li>
          <Github><a href="">Luismi76</a>Luismi76</Github>
        </li>
        <li>
          <Linkedin>lmsc76</Linkedin>
        </li>
      </ul>
    </Contenedor>
    <Contenedor>
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-2 items-center">
        <Code class="size-6" />
        Proyectos
      </h2>      
      <Proyectos />
    </Contenedor>
  </main>
</Plantilla>
