---
import { Image } from "astro:assets";
import USevilla from "../assets/logos/US-marca-principal.png";
import GranCapitan from "../assets/logos/logo-gran-capitan.png";
interface estudio {
  nombre: string;
  descripcion?: string;
  imagen: File;
  etiquetas: Array<String>;
}
const EDUCACION = [
  {
    nombre: "Diplomado en Profesor de E.G.B.",
    descripcion: "Especialidad Ciencias Humanas",
    imagen: USevilla,
    fechas: "1994-1997",
  },
  {
    nombre: "Técnico Superior en Desarrollo de Aplicaciones Web",
    descripcion: "",
    imagen: GranCapitan,
    fechas: "Actualmente",
  },
];
---

<div
  class="grid grid-cols-1 md:grid-cols-2 gap-4 text-black hover:md:grid-cols-1 hover:md:text-lg transition-all duration-1000 "
>
  {
    EDUCACION.map((estudio) => (
      <div class="bg-white opacity-85 rounded-lg overflow-hidden shadow-lg p-3">
        <div class="flex items-center justify-center">
          <div class=" size-48">
            <Image src={estudio.imagen} alt="" />
          </div>
        </div>
        <h3 class="h-auto max-w-full rounded-lg font-bold text-xl mb-2">
          {estudio.nombre}
        </h3>
        <p class="opacity-65">{estudio.descripcion}</p>
        <p class="font-bold">{estudio.fechas}</p>
      </div>
    ))
  }
</div>
