---
interface estudio {
    nombre: string,
    descripcion?: string,
    imagen: File,
    etiquetas: Array<String>,
    
}
const EDUCACION =[
    {
        nombre: "Diplomado en Profesor de E.G.B.",
        descripcion:"Especialidad Ciencias Humanas",
        imagen:"https://www.us.es/sites/default/files/inline-images/US-marca-principal.png",
        fechas: "1994-1997"
    },
    {
        nombre: "Técnico Superior en Desarrollo de Aplicaciones Web",
        descripcion: "",
        imagen: "/public/banner.png",
        fechas: "Actualmente"

    }
]
---
<div class="grid grid-cols-2 gap-4 text-black hover:grid-cols-1 hover:text-lg transition-all duration-200">
{EDUCACION.map(estudio =>(
    <div class="bg-white opacity-85 rounded-lg overflow-hidden shadow-lg p-3 " >
        <div class="flex items-center justify-center"><img src={estudio.imagen} alt="" class=" h-40 p-2"></div>
        <h3 class="h-auto max-w-full rounded-lg font-bold text-xl mb-2">{estudio.nombre}</h3>
        <p class="opacity-65">{estudio.descripcion}</p>
        <p class="font-bold">{estudio.fechas}</p>    
        
    </div>
))

}
</div>